# URLs de los Backends (usados durante la generación de la página estática)
# Cambia estas URLs si tus backends corren en otra máquina / puerto
BACKEND_USERS_URL=alb-sistema-eval3-186247671.us-east-1.elb.amazonaws.com/api/users
BACKEND_PRODUCTS_URL=alb-sistema-eval3-186247671.us-east-1.elb.amazonaws.com/api/products
